# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log
.env
.firebase/hosting.YXBwcy9hZG1pbi9kaXN0.cache
.firebase/hosting.YXBwcy9jbGllbnQvZGlzdA.cache
/.firebase
content.html
