# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/


# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log
.env
.firebase
content.html
/.firebase
functions/tsconfig.build.tsbuildinfo
packages/shared/tsconfig.tsbuildinfo
functions/tsconfig.build.tsbuildinfo
packages/shared/tsconfig.tsbuildinfo
