# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/
!apps/client/src/components/build/
!apps/client/src/components/build/**

# IDE
.vscode/
.idea/

# Misc
.DS_Store
*.log
.env
.firebase
content.html
/.firebase
